:root {
    --white: #FFFFFF;
    --royal-blue: #3457BF;
    --cornflower-blue: #4966BF;
    --cornflower-blue-high: #5972bf;
    --baby-blue: #8DCBF2;
    --dark-maroon: #730909;
    --ghost-white: #F8F9FD;
    --dark-gray: #333333;
    --light-gray: #d6dadf;


    --primary-text: #3b3b3b;
    --secondary-text: #8C8C8C;
  }
  